.post-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.post-header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
  background: #fff;
}
.post-header__img {
  margin-top: 92px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background: #fff;
}
.post-past {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.post-past a {
  font-weight: 500;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  color: #2196F3;
  margin-right: 10px;
}
.post-past a:last-child {
  margin-right: 0px;
}
.post-tezis {
  margin-bottom: 40px;
}
.post-tezis p {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #2196F3;
  width: 100%;
  text-align: left;
  margin-bottom: 0px !important;
}
.post-warn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 65px 127px;
  background: #DFF1FF;
  margin-bottom: 60px;
}
.post-content {
  background: #fff;
  -webkit-box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  max-width: none;
  padding: 47px 0px;
}
.post-content .post-warn > p {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  color: #0179D9;
  margin: 0px;
}
.post-content blockquote {
  margin-bottom: 60px;
}
.post-content blockquote p {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 145%;
  text-align: center;
  color: #1E1E1E;
}
.post-content p {
  font-size: 18px;
  line-height: 145%;
  margin-bottom: 27px;
}
.post-content ul {
  padding-left: 15px;
  margin-bottom: 40px;
}
.post-content ul li {
  position: relative;
  font-size: 24px;
  line-height: 145%;
}
.post-content ul li::before {
  position: absolute;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 15px;
  left: -15px;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2196F3;
}
.post-content .container {
  max-width: 730px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .post-header__img {
    height: 345px;
  }
}
@media screen and (max-width: 991px) {
  .post-content {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
  }
  .post-header__img {
    height: 260px;
  }
}
@media screen and (max-width: 991px) {
  .post-content {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
  }
  .post-header__img {
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  .post-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .post-info h2 {
    margin-bottom: 10px;
  }
  .post-info span {
    text-align: left;
  }
  .post-content .post-warn {
    padding: 64px;
  }
  .post-content .post-warn p {
    font-size: 18px;
  }
  .post-content .post-tezis p {
    font-size: 16px;
  }
  .post-content p {
    font-size: 14px;
  }
  .post-content blockquote p {
    font-size: 18px;
  }
  .post-content ul li {
    font-size: 18px;
  }
  .post-content ul li:before {
    top: 10px;
  }
}
@media screen and (max-width: 575px) {
  .post {
    margin-top: 40px;
  }
  .post-header__img {
    margin-top: 40px;
  }
  .post-content .post-warn {
    padding: 32px;
  }
  .post-content .post-warn p {
    font-size: 14px;
  }
  .post-content blockquote p {
    font-size: 14px;
  }
  .post-content ul li {
    font-size: 14px;
  }
  .post-content ul li:before {
    top: 7px;
  }
  .post-info h2 {
    font-size: 24px;
  }
  .post-past {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-past a {
    font-size: 14px;
    margin: 0px;
  }
}