.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 160px;
}
.questions .btn.btn-orange {
  margin: 0 auto;
}
.questions-block__help {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.questions-img {
  position: absolute;
  width: auto;
  height: 100%;
  right: 0;
  top: 0;
}
.questions-box {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 50px 0;
}
.questions-list {
  border-top: 1px solid #c6ccd1;
}
.questions-list:last-child {
  border-bottom: 1px solid #c6ccd1;
}
.questions-article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 24px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-size: 18px;
  line-height: 26px;
  color: #252525;
  position: relative;
  margin: 0;
}
.questions-article h3 {
  font-size: 18px;
  font-weight: normal;
}
.questions-article span {
  display: block;
  width: 32px;
  height: 32px;
  padding: 4px;
  background: transparent;
  position: absolute;
  background-size: cover;
  right: 32px;
  top: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
}
.questions-article span::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background: url(../../assets/img/arrow.svg) no-repeat center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-filter: invert(1);
          filter: invert(1);
}
.questions-article-active span {
  background: #2196F3;
}
.questions-article-active span::before {
  -webkit-filter: invert(0);
          filter: invert(0);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.questions-answer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  line-height: 26px;
  color: #21252D;
  padding: 0 24px;
  box-sizing: border-box;
  opacity: 0;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  display: none;
  padding-top: 26px;
  padding-bottom: 16px;
  margin: 0;
}
.questions-answer-active {
  -webkit-animation: animTab 0.3s linear normal forwards;
          animation: animTab 0.3s linear normal forwards;
  display: block;
}

@-webkit-keyframes animTab {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animTab {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.96);
            transform: scale(0.96);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (max-width: 575px) {
  .questions-article h3 {
    font-size: 16px;
  }
  .questions-answer p {
    font-size: 14px;
    line-height: 125%;
  }
}